Haitaton is the City of Helsinki’s service system intended for advancing projects taking place in public areas and managing the disturbances caused by them.

This email was generated automatically – please do not reply to this message.

Kind regards,
City of Helsinki Urban Environment Division
Haitaton services
haitaton@hel.fi
