Haitaton är Helsingfors stads hanteringssystem för att främja projekt i allmänna områden och att hantera olägenheter

Det här är ett automatiskt e-postmeddelande – svara inte på det.

Med vänlig hälsning,
Helsingfors stads stadsmiljösektor
Haitaton-ärenden
haitaton@hel.fi
