{
  "id": {{hankeId}},
  "status": "DRAFT",
  "hankeTunnus": "{{hankeTunnus}}",
  "onYKTHanke": true,
  "nimi": "Hämeentien perusparannus ja katuvalot",
  "kuvaus": "lorem ipsum dolor sit amet...",
{{#alkuPvm}}
  "alkuPvm": "{{alkuPvm}}",
{{/alkuPvm}}
{{^alkuPvm}}
  "alkuPvm": null,
{{/alkuPvm}}
{{#loppuPvm}}
  "loppuPvm": "{{loppuPvm}}",
{{/loppuPvm}}
{{^loppuPvm}}
  "loppuPvm": null,
{{/loppuPvm}}
  "vaihe": "OHJELMOINTI",
  "version": {{hankeVersion}},
  "generated": false,
  "tyomaaKatuosoite": "Testikatu 1",
  "tyomaaTyyppi": [
    "MUU",
    "VESI"
  ],
  "alueet": [
{{#alueId}}
    {
      "id": {{alueId}},
      "hankeId": {{hankeId}},
      "haittaAlkuPvm": "{{nextYear}}-02-20T00:00:00Z",
      "haittaLoppuPvm": "{{nextYear}}-02-21T00:00:00Z",
      "geometriat": {
        "id": {{geometriaId}},
        "featureCollection": {
          "type": "FeatureCollection",
          "crs": {
            "type": "name",
            "properties": {
              "name": "urn:ogc:def:crs:EPSG::3879"
            }
          },
          "features": [
            {
              "type": "Feature",
              "properties": {
                "hankeTunnus": "{{hankeTunnus}}"
              },
              "geometry": {
                "type": "Polygon",
                "crs": {
                  "type": "name",
                  "properties": {
                    "name": "EPSG:3879"
                  }
                },
                "coordinates": [
                  [
                    [
                      2.549669725e7,
                      6673078.21
                    ],
                    [
                      2.549681001e7,
                      6673080.58
                    ],
                    [
                      2.549681063e7,
                      6673045.68
                    ],
                    [
                      2.54967012e7,
                      6673042.13
                    ],
                    [
                      2.549669725e7,
                      6673078.21
                    ]
                  ]
                ]
              }
            }
          ]
        },
        "version": {{geometriaVersion}}
      },
      "kaistaHaitta": "YKSI_KAISTA_VAHENEE",
      "kaistaPituusHaitta": "PITUUS_ALLE_10_METRIA",
      "meluHaitta": "SATUNNAINEN_MELUHAITTA",
      "polyHaitta": "TOISTUVA_POLYHAITTA",
      "tarinaHaitta": "JATKUVA_TARINAHAITTA",
      "nimi": {{#alueNimi}}"{{alueNimi}}"{{/alueNimi}}{{^alueNimi}}null{{/alueNimi}},
      {{#tormaystarkasteluTulos}}"tormaystarkasteluTulos": {
        "autoliikenne": {
          "haitanKesto": 1,
          "katuluokka": 4,
          "liikennemaara": 5,
          "kaistahaitta": 1,
          "kaistapituushaitta": 2,
          "indeksi": 2.8
        },
        "pyoraliikenneindeksi": 3.0,
        "linjaautoliikenneindeksi": 3.0,
        "raitioliikenneindeksi": 5.0,
        "liikennehaittaindeksi": {
          "indeksi": 5.0,
          "tyyppi": "RAITIOLIIKENNEINDEKSI"
        }
      },{{/tormaystarkasteluTulos}}
      "haittojenhallintasuunnitelma": {
        {{#haittojenhallintasuunnitelma}}"AUTOLIIKENNE":"Autoliikenteelle koituvien haittojen hallintasuunnitelma",
        "LINJAAUTOLIIKENNE":"Linja-autoliikenteelle koituvien haittojen hallintasuunnitelma",
        "YLEINEN":"Yleisten haittojen hallintasuunnitelma",
        "PYORALIIKENNE":"Pyöräliikenteelle koituvien haittojen hallintasuunnitelma",
        "RAITIOLIIKENNE":"Raitioliikenteelle koituvien haittojen hallintasuunnitelma",
        "MUUT":"Muiden haittojen hallintasuunnitelma"
        {{/haittojenhallintasuunnitelma}}
      }
    }
{{/alueId}}
  ]
}
