{
  "id": {{hankeId}},
  "status": "DRAFT",
  "hankeTunnus": "{{hankeTunnus}}",
  "onYKTHanke": null,
  "nimi": "Hämeentien perusparannus ja katuvalot",
  "kuvaus": null,
  "alkuPvm": null,
  "loppuPvm": null,
  "vaihe": null,
  "version": 0,
  "generated": false,
  "tyomaaKatuosoite": null,
  "tyomaaTyyppi": [],
  "alueet": []
}
