hsl:
  addr: "https://infopalvelut.storage.hsldev.com/gtfs/hsl.zip"
  local_file: "hsl.zip"
  target_file: "buses_lines.gpkg"
  target_buffer_file: "tormays_buses_polys.gpkg"
  tormays_table_org: "tormays_buses_polys"
  tormays_table_temp: "tormays_buses_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 15
maka_autoliikennemaarat:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:Ajoneuvoliikenne_liikennemaarat_viiva"
  local_file: "maka_autoliikennemaarat.gpkg"
  target_file: "volume_lines.gpkg"
  target_buffer_file: "tormays_volumes{}_polys.gpkg"
  tormays_table_org: "tormays_volumes{}_polys"
  tormays_table_temp: "tormays_volumes{}_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 15
    - 30
ylre_katualueet:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:YLRE_Katualue_alue"
  local_file: "ylre_katualue_alue.gpkg"
  target_file: "ylre_classes_orig_polys.gpkg"
  target_buffer_file: "tormays_ylre_classes_polys.gpkg"
  tormays_table_org: "tormays_ylre_classes_polys"
  tormays_table_temp: "tormays_ylre_classes_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
ylre_katuosat:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:YLRE_Katuosat_alue"
  local_file: "ylre_katuosat_alue.gpkg"
  target_file: "ylre_parts_orig_polys.gpkg"
  target_buffer_file: "tormays_ylre_parts_polys.gpkg"
  tormays_table_org: "tormays_ylre_parts_polys"
  tormays_table_temp: "tormays_ylre_parts_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 5
osm:
  addr: "/vsicurl/https://download.geofabrik.de/europe/finland-latest.osm.pbf"
  layer: "lines"
  local_file: "finland-latest.gpkg"
  extra_args: "-oo INTERLEAVED_READING=YES -spat 24.8105462481479 60.086424133713 25.2725829816252 60.3068159059038"
helsinki_osm_lines:
  addr: "/haitaton-gis/osm_vrt_clip.vrt"
  local_file: "helsinki-osm-lines.gpkg"
  extra_args: "-dialect sqlite -nln lines -sql"
  extra_quoted_args: "SELECT lines.* FROM lines, area WHERE ST_Intersects(lines.geom, area.geom)"
hki:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: Seutukartta_aluejako_kuntarajat
  local_file: helsinki_alue.gpkg
  extra_args: "-nln alue -where kunta='091'"
tram_infra:
  local_file: "helsinki-osm-lines.gpkg"
  target_file: "tram_infra.gpkg"
  target_buffer_file: "tormays_tram_infra_polys.gpkg"
  tormays_table_org: "tormays_tram_infra_polys"
  tormays_table_temp: "tormays_tram_infra_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 20
tram_lines:
  local_file: "hsl.zip"
  target_file: "tram_lines.gpkg"
  target_buffer_file: "tormays_tram_lines_polys.gpkg"
  tormays_table_org: "tormays_tram_lines_polys"
  tormays_table_temp: "tormays_tram_lines_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 35
cycle_infra:
  addr: "/local_data/helsinki_cycleways.gpkg"
  local_file: "helsinki_cycleways.gpkg"
  target_file: "cycle_infra.gpkg"
  target_buffer_file: "tormays_cycle_infra_polys.gpkg"
  tormays_table_org: "tormays_cycle_infra_polys"
  tormays_table_temp: "tormays_cycle_infra_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer:
    - 20
liikennevaylat:
  addr: "WFS:https://$HELSINKI_EXTRANET_USERNAME:$HELSINKI_EXTRANET_PASSWORD@kartta.hel.fi/ws/geoserver/helsinki/wfs"
  layer: "helsinki:Liikennevaylat_kehitys"
  local_file: "liikennevaylat.gpkg"
  target_file: "street_classes.gpkg"
  target_buffer_file: "tormays_street_classes_polys.gpkg"
  extra_args: "-nlt CONVERT_TO_LINEAR"
  tormays_table_org: "tormays_street_classes_polys"
  tormays_table_temp: "tormays_street_classes_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10
  buffer_class_values:
    paakatu_tai_moottorivayla: 20
    alueellinen_kokoojakatu: 20
    paikallinen_kokoojakatu: 20
    kantakaupungin_asuntokatu_huoltovayla_tai_muu_vahaliikenteinen_katu: 10
    asuntokatu_huoltovayla_tai_muu_vahaliikenteinen_katu: 10
central_business_area:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:Piirijako_pienalue"
  local_file: "central_business_areas.gpkg"
  target_file: "tormays_central_business_area_polys.gpkg"
  tormays_table_org: "tormays_central_business_area_polys"
  tormays_table_temp: "tormays_central_business_area_polys_temp"
  validate_limit_min: 0.98
  validate_limit_max: 1.10

logging:
  logging_filename: ""
  logging_filemode: "w"
  logging_level: DEBUG
  logging_format: "%(asctime)s - %(levelname)s - %(message)s"
    
common:
  download_path: "/downloads"
  crs: "EPSG:3879"

# pyynnöstä toimitetut
bussiliikenne_kriittinen:
pienalueet_kantakaupunki_yleiskaava:

local_development:
  database:
    port: 15432
    host: localhost
    username: haitaton
    password: haitaton
    database: haitaton
  storage:
    download_dir: "haitaton-downloads"
    output_dir: "haitaton-gis-output"

local_docker_development:
  database:
    port: 5432
    host: gis-db
    username: haitaton
    password: haitaton
    database: haitaton
  storage:
    download_dir: "/downloads"
    output_dir: "/gis-output"
