hsl:
  addr: "https://infopalvelut.storage.hsldev.com/gtfs/hsl.zip"
  local_file: "hsl.zip"
  target_file: "buses_lines.gpkg"
  target_buffer_file: "tormays_buses_polys.gpkg"
  buffer:
    - 15
maka_autoliikennemaarat:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:Ajoneuvoliikenne_liikennemaarat_viiva"
  local_file: "maka_autoliikennemaarat.gpkg"
  target_file: "volume_lines.gpkg"
  target_buffer_file: "tormays_volumes{}_polys.gpkg"
  buffer:
    - 15
    - 30
ylre_katualueet:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:YLRE_Katualue_alue"
  local_file: "ylre_katualue_alue.gpkg"
  target_file: "ylre_classes_orig_polys.gpkg"
  target_buffer_file: "tormays_ylre_classes_polys.gpkg"
ylre_katuosat:
  addr: "WFS:https://kartta.hel.fi/ws/geoserver/avoindata/wfs"
  layer: "avoindata:YLRE_Katuosat_alue"
  local_file: "ylre_katuosat_alue.gpkg"
  target_file: "ylre_parts_orig_polys.gpkg"
  target_buffer_file: "tormays_ylre_parts_polys.gpkg"
  buffer:
    - 5
osm:
  addr: "/vsicurl/https://download.geofabrik.de/europe/finland-latest.osm.pbf"
  layer: "lines"
  local_file: "finland-latest.gpkg"
  extra_args: "-oo INTERLEAVED_READING=YES"
helsinki_osm_lines:
  addr: "/haitaton-gis/osm_vrt_clip.vrt"
  local_file: "helsinki-osm.gpkg"
  extra_args: "-dialect sqlite -nln lines -sql"
  extra_quoted_args: "SELECT lines.* FROM lines, area WHERE ST_Intersects(lines.geom, area.geom)"
hki:
  addr: "WFS:https://geo.stat.fi/geoserver/tilastointialueet/wfs"
  layer: "tilastointialueet:kunta1000k"
  local_file: "helsinki_alue.gpkg"
  extra_args: "-nln alue -where kunta='091'"

common:
  download_path: "/downloads"
  crs: "EPSG:3879"

# pyynnöstä toimitetut
bussiliikenne_kriittinen:
pienalueet_kantakaupunki_yleiskaava:
polkupyora_prioriteetti:
polkupyora_paareitti:
liikennevaylat:

local_development:
  database:
    port: 15432
    host: localhost
    username: haitaton
    password: haitaton
    database: haitaton
  storage:
    download_dir: "haitaton-downloads"
    output_dir: "haitaton-local-gis-output"

local_docker_development:
  database:
    port: 5432
    host: gis-db
    username: haitaton
    password: haitaton
    database: haitaton
  storage:
    download_dir: "/downloads"
    output_dir: "/gis-output"
