version: "3"
services:
  db:
    build:
      context: ${BUILD_ROOT}/haitaton-backend/scripts/docker-postgres
      dockerfile: Dockerfile
    container_name: haitaton-db
    environment:
      - DB_APP_DB=haitaton
      - DB_APP_DB_TEST=haitaton_test
      - DB_APP_USER=haitaton_user
      - DB_APP_PASSWORD=haitaton
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - 5432:5432
    volumes:
      - ${DB_VOLUME}:/var/lib/postgresql/data
    networks:
      backbone:
        aliases:
          - haitaton-db

  auth-db:
    image: postgres:11.6
    container_name: haitaton-auth-db
    environment:
      - POSTGRES_DB=keycloak
      - POSTGRES_USER=keycloak
      - POSTGRES_PASSWORD=password
    ports:
      - 5433:5432
    volumes:
      - ${AUTH_DB_VOLUME}:/var/lib/postgresql/data
    networks:
      backbone:
        aliases:
          - auth-db

  auth-service:
    image: ghcr.io/city-of-helsinki/haitaton/auth-service:dev
    container_name: haitaton-auth-service
    ports:
      - 3030:8080
    volumes:
      - ./services/auth-service/realms:/tmp
    hostname: auth-service
    environment:
      - KEYCLOAK_USER=admin
      - KEYCLOAK_PASSWORD=admin
      - DB_VENDOR=POSTGRES
      - DB_ADDR=auth-db
      - DB_USER=keycloak
      - DB_PASSWORD=password
      - DB_DATABASE=keycloak
      - DB_SCHEMA=public
      - KEYCLOAK_IMPORT=/tmp/haitaton-realm-with-users.json
    depends_on:
      - auth-db
    networks:
      backbone:
        aliases:
          - auth-service

  haitaton-hanke:
    image: ghcr.io/city-of-helsinki/haitaton/hanke-service:dev
    container_name: haitaton-hanke
    ports:
      - 3000:8080
    hostname: haitaton-hanke
    environment:
      HAITATON_HOST: db
      HAITATON_PORT: 5432
      HAITATON_USER: haitaton_user
      HAITATON_PASSWORD: haitaton
      HAITATON_AUTH_OIDC_CERTS_ENDPOINT: http://auth-service:8080/auth/realms/haitaton/protocol/openid-connect/certs
#      HAITATON_CORS_ALLOWED_ORIGINS: http://localhost:8000
    depends_on:
      - db
      - auth-service
    command: [ "./wait-for-it.sh", "-t", "30", "--strict", "db:5432", "--", "java", "-jar", "hanke-service.jar" ]
    networks:
      backbone:
        aliases:
          - haitaton-hanke

  haitaton-ui:
    image: ghcr.io/city-of-helsinki/haitaton/ui:dev
    container_name: haitaton-ui
    ports:
      - 8000:8000
    volumes:
      - ${BUILD_ROOT}/haitaton-ui:/app
      - '/app/node_modules'
    networks:
      backbone:
        aliases:
          - haitaton-ui

  haitaton-nginx:
    image: nginx:latest
    container_name: haitaton_nginx
    hostname: haitaton-nginx
    volumes:
      - ${BUILD_ROOT}/haitaton-backend/scripts/nginx/${NGINX_CONF}:/etc/nginx/conf.d/default.conf
    ports:
      - 3001:80
    depends_on:
      - auth-service
      - haitaton-hanke
      - haitaton-ui
    networks:
      - backbone
    links:
      - auth-service
      - haitaton-hanke
      - haitaton-ui

networks:
  backbone:
    driver: bridge