Hankkeesi {{hanketunnus}} päättymispäivä lähenee / Avslutningsdatum för ditt projekt {{hanketunnus}} närmar sig / The end date of your project {{hanketunnus}} is approaching

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä {{finnishEndingDate}} lähenee. Varmistathan, että hankkeen ja sen töiden aikataulut ovat ajan tasalla. Päivitä tiedot tarvittaessa Haitattomaan tai ota tarvitsemasi tiedot talteen. Huomaathan, että hankkeen päättyminen lukitsee hankkeen ja estää sen näkymisen hankkeen ulkopuolisille.

{{{signatures.fi}}}


Ditt projekt {{{hankeNimi}}} ({{hanketunnus}}) börjar närma sig sitt anmälda avslutningsdatum {{finnishEndingDate}}. Försäkra dig om att tidtabellerna för projektet och dess arbeten är uppdaterade. Uppdatera uppgifterna vid behov i Haitaton eller ta till vara de uppgifter du behöver. Observera att avslutning av projektet låser projektet och förhindrar att det syns för utomstående.

{{{signatures.sv}}}


The reported end date {{britishEndingDate}} of your project {{{hankeNimi}}} ({{hanketunnus}}) is approaching. Please make sure that the schedules of the project and its works are up-to-date. Update the information to Haitaton, if necessary, or save the information you need. Please note that when a project ends, the project will become locked, preventing it from being visible to outsiders.

{{{signatures.en}}}
