Hankkeesi {{hanketunnus}} poistetaan järjestelmästä / Ditt projekt {{hanketunnus}} raderas ur systemet / Your project {{hanketunnus}} will be deleted from the system

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) poistuu Haitattomasta {{finnishDeletionDate}}. Ota tarvitsemasi tiedot talteen ennen hankkeen poistumista. Poistumisen jälkeen hankkeen ja sen hakemusten kaikki tiedot poistuvat, eikä niitä pääse enää palauttamaan.

{{{signatures.fi}}}


Ditt projekt {{{hankeNimi}}} ({{hanketunnus}}) raderas ur Haitaton {{finnishDeletionDate}}. Ta till vara de uppgifter du behöver innan projektet försvinner. Efter raderingen försvinner alla uppgifter om projektet och dess ansökningar, och de kan inte längre återställas.

{{{signatures.sv}}}


Your project {{{hankeNimi}}} ({{hanketunnus}}) will be deleted from Haitaton on {{britishDeletionDate}}. Save the information you need before the project is deleted. All information of the project and its applications will be removed after the project is deleted, and they cannot be recovered.

{{{signatures.en}}}
