Luonnos-tilainen hankkeesi {{hanketunnus}} on ollut pitkään muokkaamattomana/Ditt projekt {{hanketunnus}} med Utkast-status har länge varit oförändrat/Your project {{hanketunnus}} with a Draft status has remained unedited for a long time

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) on luonnos-tilassa, eikä sitä ole muokattu {{daysUnmodified}} vuorokauteen. Kun hankkeesi on ollut muokkaamattomana {{daysUntilMarkedReady}} vuorokautta, merkitään se Haitattomassa valmiiksi, etkä enää pääse muokkaamaan hankettasi. Jos haluat pitää hankkeesi aktiivisena, lisää sille päivämäärät. Huomaathan, että pitääksesi hankkeen aktiivisena, tulee hankkeen loppupäivämäärän olla tulevaisuudessa.

{{{signatures.fi}}}


Ditt projekt {{{hankeNimi}}} ({{hanketunnus}}) har status Utkast och det har inte redigeras på {{daysUnmodified}} dygn. När ditt projekt har varit oredigerat i {{daysUntilMarkedReady}} dygn, antecknas det som färdigt i Haitaton och du kan inte längre redigera ditt projekt. Om du vill hålla ditt projekt aktivt, lägg till datum för det. Observera att avslutningsdatumet för projektet ska vara i framtiden för att hålla projektet aktivt.

{{{signatures.sv}}}


Your project {{{hankeNimi}}} ({{hanketunnus}}) is in Draft status and has not been edited for {{daysUnmodified}} days. When your project has remained unedited for {{daysUntilMarkedReady}} days, Haitaton will mark it as ‘complete’ and you will no longer be able to edit your project. If you would like to keep your project active, add dates to it. Please note that the project’s end date must be in the future in order to maintain its active status.

{{{signatures.en}}}
