Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu / Avslutningsdatum för ditt projekt {{hanketunnus}} har passerats / The reported end date of your project {{hanketunnus}} has passed


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä on ohitettu. Hankkeesi ei enää näy muille Haitattoman käyttäjille, eikä sitä pääse enää muokkaamaan. Hanke säilyy Haitattomassa 6 kk, jona aikana pääset tarkastelemaan sitä.

{{{signatures.fi}}}


Avslutningsdatum för ditt projekt {{{hankeNimi}}} ({{hanketunnus}}) har passerats. Ditt projekt syns inte längre för andra användare av Haitaton, och det kan inte längre redigeras. Projektet finns kvar i Haitaton i 6 mån under vilken tid du kan granska det.

{{{signatures.sv}}}


The reported end date of your project {{{hankeNimi}}} ({{hanketunnus}}) has passed. Your project will no longer be visible to other Haitaton users, and it can no longer be edited. The project will be available for viewing in Haitaton for six months.

{{{signatures.en}}}
