Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu / Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu / Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä on ohitettu. Hankkeesi ei enää näy muille Haitattoman käyttäjille eikä sitä pääse enää muokkamaan. Hanke säilyy Haitattomassa 6 kk, jona aikana pääset tarkastelemaan sitä.

{{{signatures.fi}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä on ohitettu. Hankkeesi ei enää näy muille Haitattoman käyttäjille eikä sitä pääse enää muokkamaan. Hanke säilyy Haitattomassa 6 kk, jona aikana pääset tarkastelemaan sitä.

{{{signatures.sv}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä on ohitettu. Hankkeesi ei enää näy muille Haitattoman käyttäjille eikä sitä pääse enää muokkamaan. Hanke säilyy Haitattomassa 6 kk, jona aikana pääset tarkastelemaan sitä.

{{{signatures.en}}}
