Haitaton: Luonnos-tilainen hankkeesi {{hanketunnus}} on ollut pitkään muokkaamattomana/Ditt projekt {{hanketunnus}} med Utkast-status har länge varit oförändrat/Your project {{hanketunnus}} with a Draft status has remained unedited for a long time
