Haitaton: Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu / Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu / Hankkeesi {{hanketunnus}} ilmoitettu päättymispäivä on ohitettu
