Hankkeesi {{hanketunnus}} poistetaan järjestelmästä / Hankkeesi {{hanketunnus}} poistetaan järjestelmästä / Hankkeesi {{hanketunnus}} poistetaan järjestelmästä

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) poistuu Haitattomasta {{deletionDate}}. Ota tarvitsemasi tiedot talteen ennen hankkeen poistumista. Poistumisen jälkeen hankkeen ja sen hakemusten kaikki tiedot poistuvat, eikä niitä pääse enää palauttamaan.

{{{signatures.fi}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) poistuu Haitattomasta {{deletionDate}}. Ota tarvitsemasi tiedot talteen ennen hankkeen poistumista. Poistumisen jälkeen hankkeen ja sen hakemusten kaikki tiedot poistuvat, eikä niitä pääse enää palauttamaan.

{{{signatures.sv}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) poistuu Haitattomasta {{deletionDate}}. Ota tarvitsemasi tiedot talteen ennen hankkeen poistumista. Poistumisen jälkeen hankkeen ja sen hakemusten kaikki tiedot poistuvat, eikä niitä pääse enää palauttamaan.

{{{signatures.en}}}
