Hankkeesi {{hanketunnus}} päättymispäivä lähenee / Hankkeesi {{hanketunnus}} päättymispäivä lähenee Hankkeesi {{hanketunnus}} päättymispäivä lähenee

Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä {{endingDate}} lähenee. Varmistathan, että hankkeen ja sen töiden aikataulut ovat ajan tasalla. Päivitä tiedot tarvittaessa Haitattomaan tai ota tarvitsemasi tiedot talteen. Huomaathan, että hankkeen päättyminen lukitsee hankkeen ja estää sen näkymisen hankkeen ulkopuolisille.

{{{signatures.fi}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä {{endingDate}} lähenee. Varmistathan, että hankkeen ja sen töiden aikataulut ovat ajan tasalla. Päivitä tiedot tarvittaessa Haitattomaan tai ota tarvitsemasi tiedot talteen. Huomaathan, että hankkeen päättyminen lukitsee hankkeen ja estää sen näkymisen hankkeen ulkopuolisille.

{{{signatures.sv}}}


Hankkeesi {{{hankeNimi}}} ({{hanketunnus}}) ilmoitettu päättymispäivä {{endingDate}} lähenee. Varmistathan, että hankkeen ja sen töiden aikataulut ovat ajan tasalla. Päivitä tiedot tarvittaessa Haitattomaan tai ota tarvitsemasi tiedot talteen. Huomaathan, että hankkeen päättyminen lukitsee hankkeen ja estää sen näkymisen hankkeen ulkopuolisille.

{{{signatures.en}}}
