Hakemanne johtoselvitys {{applicationIdentifier}} on käsitelty. Lataa selvitys Haitattomasta ({{baseUrl}}/fi/hankesalkku/{{hankeTunnus}}) ja tutustu sen sisältöön huolellisesti.

Miten onnistuimme? Kerro mielipiteesi täällä.



Ystävällisin terveisin,

Helsingin kaupunkiympäristön asukas- ja yrityspalvelut

Alueidenkäyttö ja -valvonta

Johtotietopalvelu

Puh. 09 310 31940

johtotietopalvelu@hel.fi
