Hakemanne johtoselvitys {{applicationIdentifier}} on käsitelty. Lataa selvitys Haitattomasta ({{baseUrl}}/fi/hankesalkku/{{hankeTunnus}}) ja tutustu sen sisältöön huolellisesti.

Miten onnistuimme? Kerro mielipiteesi täällä: https://response.questback.com/isa/qbv.dll/bylink?p=x6TIpQ4sCcJt9Dv1T-AuuKa-DssX27rx6er2ohTVVipooPTA8H0u-weNFWY9GsVI0.



Ystävällisin terveisin,

Helsingin kaupunkiympäristön asukas- ja yrityspalvelut

Alueidenkäyttö ja -valvonta

Johtotietopalvelu

Puh. 09 310 31940

johtotietopalvelu@hel.fi
