Hakemanne johtoselvitys {{applicationIdentifier}} on käsitelty. Lataa selvitys Haitattomasta ({{baseUrl}}/fi/hakemus/{{applicationId}}) ja tutustu sen sisältöön huolellisesti.

Miten onnistuimme? Kerro mielipiteesi täällä: https://ecv.microsoft.com/zepZlZSdnT.

Ystävällisin terveisin,
Helsingin kaupunkiympäristön asukas- ja yrityspalvelut
Alueidenkäyttö ja -valvonta
Johtotietopalvelu
Puh. 09 310 31940
johtotietopalvelu@hel.fi


Ledningsutredningen {{applicationIdentifier}} ni ansökt om har behandlats. Ladda ned utredningen från Haitaton ({{baseUrl}}/sv/ansokan/{{applicationId}}) och läs innehållet i den noggrannt.

Hur lyckades vi? Ge din åsikt här: https://ecv.microsoft.com/zepZlZSdnT.

Med vänlig hälsning,
Helsingfors stadsmiljös boende- och företagstjänster
Användning och tillsyn av områden
Ledningstjänsten
Tfn 09 310 31940
johtotietopalvelu@hel.fi


Cable report {{applicationIdentifier}} that you requested has been processed. Download the report via Haitaton ({{baseUrl}}/en/application/{{applicationId}}) and read it carefully.

How did we do? Please share your opinion here: https://ecv.microsoft.com/zepZlZSdnT.

Kind regards,
Helsinki Urban Environment Resident and Business Services
Land Use and Monitoring
Cable Location Service
Tel. +358 9 310 31940
johtotietopalvelu@hel.fi
