Haitaton: Kaivuilmoitukseen {{applicationIdentifier}} liittyvä päätös on ladattavissa / Beslut om grävningsanmälan {{applicationIdentifier}} kan laddas ner / The decision concerning an excavation notification {{applicationIdentifier}} can be downloaded
