Jättämäänne kaivuilmoitukseen {{applicationIdentifier}} on tehty päätös. Lataa päätös Haitattomasta ({{baseUrl}}/fi/hakemus/{{applicationId}}) ja tutustu sen sisältöön huolellisesti.

Miten onnistuimme? Kerro mielipiteesi täällä: https://ecv.microsoft.com/zepZlZSdnT.

Ystävällisin terveisin,
Helsingin kaupunki
Kaupunkiympäristön asukas- ja yrityspalvelut
Alueiden käyttö ja valvonta
Puh. 09 310 22111
luvat@hel.fi
https://www.hel.fi/fi/kaupunkiymparisto-ja-liikenne/tontit-ja-rakentamisen-luvat/tyomaan-luvat-ja-ohjeet/kaduilla-ja-puistoissa-tehtavat-tyot


Jättämäänne kaivuilmoitukseen {{applicationIdentifier}} on tehty päätös. Lataa päätös Haitattomasta ({{baseUrl}}/sv/ansokan/{{applicationId}}) och läs innehållet i den noggrannt.

Hur lyckades vi? Ge din åsikt här: https://ecv.microsoft.com/zepZlZSdnT.

Med vänlig hälsning,
Helsingfors stad
Stadsmiljös boende- och företagstjänster
Användning och tillsyn av områden
Tfn 09 310 22111
luvat@hel.fi
https://www.hel.fi/sv/stadsmiljo-och-trafik/tomter-och-bygglov/tillstand-och-anvisningar-for-byggplatsen/arbete-pa-gatu-eller-parkomraden


Jättämäänne kaivuilmoitukseen {{applicationIdentifier}} on tehty päätös. Lataa päätös Haitattomasta ({{baseUrl}}/en/application/{{applicationId}}) ja tutustu sen sisältöön huolellisesti.

How did we do? Please share your opinion here: https://ecv.microsoft.com/zepZlZSdnT.

Kind regards,
City of Helsinki
Urban Environment Resident and Business Services
Land Use and Monitoring
Tel. +358 9 310 22111
luvat@hel.fi
https://www.hel.fi/en/urban-environment-and-traffic/plots-and-building-permits/permits-and-instructions-for-construction-site/working-on-streets-and-in-parks
