Haitaton: Sinut on lisätty hankkeelle {{hankeTunnus}}

{{inviterInfo}} lisäsi sinut hankkeelle {{hankeNimi}} ({{hankeTunnus}}). Tunnistaudu Haitattomaan alla olevan linkin kautta.
{{baseUrl}}/{{invitationToken}}

Löydät hankkeesi Haitattoman etusivun Omat hankkeet -osion alta hankkeen nimellä.

Haitaton on Helsingin kaupungin asiointijärjestelmä yleisille alueille sijoittuvien hankkeiden edistämiseen ja haittojen hallintaan.

Tämä on automaattinen sähköposti – älä vastaa tähän viestiin.

Ystävällisin terveisin,
Helsingin kaupungin kaupunkiympäristön toimiala
Haitaton-asiointi
haitaton@hel.fi
