Käyttöoikeustasoasi on muutettu ({{hankeTunnus}}) / sama ruotsiksi / sama englanniksi

{{{updatedByName}}} ({{{updatedByEmail}}}) on muuttanut käyttöoikeustasoasi hankkeella "{{{hankeNimi}}}" ({{hankeTunnus}}). Uusi käyttöoikeutesi on "{{{newAccessRights.fi}}}". Tarkastele hanketta täällä: {{baseUrl}}/fi/hankesalkku/{{hankeTunnus}}

{{{signatures.fi}}}


{{{updatedByName}}} ({{{updatedByEmail}}}) on muuttanut käyttöoikeustasoasi hankkeella "{{{hankeNimi}}}" ({{hankeTunnus}}). Uusi käyttöoikeutesi on "{{{newAccessRights.sv}}}". Tarkastele hanketta täällä: {{baseUrl}}/sv/projektportfolj/{{hankeTunnus}}

{{{signatures.sv}}}


{{{updatedByName}}} ({{{updatedByEmail}}}) on muuttanut käyttöoikeustasoasi hankkeella "{{{hankeNimi}}}" ({{hankeTunnus}}). Uusi käyttöoikeutesi on "{{{newAccessRights.en}}}". Tarkastele hanketta täällä: {{baseUrl}}/en/projectportfolio/{{hankeTunnus}}

{{{signatures.en}}}
