{{inviterInfo}} on tehnyt {{applicationType}} ({{applicationIdentifier}}) hankkeella {{hankeTunnus}}, ja lähettänyt sen käsittelyyn. Sinut on määritetty hakemuksella rooliin {{recipientRole}}. Tarkastele hakemusta Haitattomassa: {{baseUrl}}

Löydät hakemuksesi siirtymällä etusivulta Omiin hankkeisiin ja valitsemalla sieltä oikean hankkeen. Avaa listanäkymässä hankkeen tiedot ja valitse “Näytä hankkeen hakemukset”.

Haitaton on Helsingin kaupungin asiointijärjestelmä yleisille alueille sijoittuvien hankkeiden edistämiseen ja haittojen hallintaan.

Tämä on automaattinen sähköposti – älä vastaa tähän viestiin.


Ystävällisin terveisin,

Helsingin kaupungin kaupunkiympäristön toimiala

Haitaton-asiointi

haitaton@hel.fi
