Sinut on kutsuttu hankkeelle {{hankeTunnus}} / Du har blivit inbjuden till projektet {{hankeTunnus}} / You have been invited to project {{hankeTunnus}}

{{{inviterName}}} ({{{inviterEmail}}}) on kutsunut sinut hankkeelle {{{hankeNimi}}} ({{hankeTunnus}}). Nähdäksesi hankkeen, sinun tulee tunnistautua alla olevan linkin kautta. Huomioithan, että linkki on kertakäyttöinen.
{{baseUrl}}/fi/kutsu?id={{invitationToken}}

Löydät hankkeesi Haitattoman etusivun Omat hankkeet -osion alta hankkeen nimellä.

{{{signatures.fi}}}


{{{inviterName}}} ({{{inviterEmail}}}) har bjudit in dig till projektet {{{hankeNimi}}} ({{hankeTunnus}}). För att kunna se projektet måste du identifiera dig via nedanstående länk. Observera att länken bara kan användas en gång.
{{baseUrl}}/sv/inbjudan?id={{invitationToken}}

Du hittar ditt projekt under dess namn under Egna projekt på Haitatons startsida.

{{{signatures.sv}}}


{{{inviterName}}} ({{{inviterEmail}}}) has invited you to the project ‘{{{hankeNimi}}}’ ({{hankeTunnus}}). In order to see the project, you must identify yourself via the link below. Please note that the link is one-use.
{{baseUrl}}/en/invitation?id={{invitationToken}}

You will find your project in the ‘Own projects’ section of the Haitaton front page under the name of the project.

{{{signatures.en}}}
