Käyttöoikeustasoasi on muutettu ({{hankeTunnus}}) / Dina användarrättigheter har förändrats ({{hankeTunnus}}) / Your access right level has been changed ({{hankeTunnus}})

{{{updatedByName}}} ({{{updatedByEmail}}}) on muuttanut käyttöoikeustasoasi hankkeella "{{{hankeNimi}}}" ({{hankeTunnus}}). Uusi käyttöoikeutesi on "{{{newAccessRights.fi}}}". Tarkastele hanketta täällä: {{baseUrl}}/fi/hankesalkku/{{hankeTunnus}}

{{{signatures.fi}}}


{{{updatedByName}}} ({{{updatedByEmail}}}) har ändrat dina användarrättigheter på projektet "{{{hankeNimi}}}" ({{hankeTunnus}}). Din nya användarrättighet är "{{{newAccessRights.sv}}}". Granska projektet här: {{baseUrl}}/sv/projektportfolj/{{hankeTunnus}}

{{{signatures.sv}}}


{{{updatedByName}}} ({{{updatedByEmail}}}) has changed your access right level for the project "{{{hankeNimi}}}" ({{hankeTunnus}}). Your new access right level is "{{{newAccessRights.en}}}". View the project here: {{baseUrl}}/en/projectportfolio/{{hankeTunnus}}

{{{signatures.en}}}
