Sinut on poistettu hankkeelta ({{hankeTunnus}}) / Du har tagits bort från projektet ({{hankeTunnus}}) / You have been removed from the project ({{hankeTunnus}})

{{{deletedByName}}} ({{{deletedByEmail}}}) on poistanut sinut hankkeelta "{{{hankeNimi}}}" ({{hankeTunnus}}), eikä sinulla ole enää pääsyä hankkeelle.

{{{signatures.fi}}}


{{{deletedByName}}} ({{{deletedByEmail}}}) har tagit bort dig från projektet "{{{hankeNimi}}}" ({{hankeTunnus}}) och du har tagit bort dig från projektet.

{{{signatures.sv}}}


{{{deletedByName}}} ({{{deletedByEmail}}}) has removed you from the project "{{{hankeNimi}}}" ({{hankeTunnus}}), and you no longer have access to the project.

{{{signatures.en}}}
