Sinut on poistettu hankkeelta ({{hankeTunnus}}) / Sinut on poistettu hankkeelta ({{hankeTunnus}}) / Sinut on poistettu hankkeelta ({{hankeTunnus}})

{{{deletedByName}}} ({{{deletedByEmail}}}) on poistanut sinut hankkeelta "{{{hankeNimi}}}" ({{hankeTunnus}}), eikä sinulla ole enää pääsyä hankkeelle.

{{{signatures.fi}}}


{{{deletedByName}}} ({{{deletedByEmail}}}) on poistanut sinut hankkeelta "{{{hankeNimi}}}" ({{hankeTunnus}}), eikä sinulla ole enää pääsyä hankkeelle.

{{{signatures.sv}}}


{{{deletedByName}}} ({{{deletedByEmail}}}) on poistanut sinut hankkeelta "{{{hankeNimi}}}" ({{hankeTunnus}}), eikä sinulla ole enää pääsyä hankkeelle.

{{{signatures.en}}}
