Sinut on lisätty hankkeelle {{hankeTunnus}} / Du har lagts till i projektet {{hankeTunnus}} / You have been added to project {{hankeTunnus}}

{{{inviterName}}} ({{{inviterEmail}}}) lisäsi sinut hankkeelle {{{hankeNimi}}} ({{hankeTunnus}}). Tunnistaudu Haitattomaan alla olevan linkin kautta.
{{baseUrl}}/fi/kutsu?id={{invitationToken}}

Löydät hankkeesi Haitattoman etusivun Omat hankkeet -osion alta hankkeen nimellä.

{{{signatures.fi}}}


{{{inviterName}}} ({{{inviterEmail}}}) lade till dig i projektet {{{hankeNimi}}} ({{hankeTunnus}}). Identifiera dig i Haitaton via länken nedan.
{{baseUrl}}/sv/inbjudan?id={{invitationToken}}

Du hittar ditt projekt under dess namn under Egna projekt på Haitatons startsida.

{{{signatures.sv}}}


{{{inviterName}}} ({{{inviterEmail}}}) has added you to the project ‘{{{hankeNimi}}}’ ({{hankeTunnus}}). Please log in to Haitaton via the link below.
{{baseUrl}}/en/invitation?id={{invitationToken}}

You will find your project in the ‘Own projects’ section of the Haitaton front page under the name of the project.

{{{signatures.en}}}
