Sinut on lisätty hakemukselle {{applicationIdentifier}} / Du har lagts till i ansökan {{applicationIdentifier}} / You have been added to application {{applicationIdentifier}}

{{{senderName}}} ({{{senderEmail}}}) on tehnyt {{applicationType.fi}} ({{applicationIdentifier}}) hankkeella {{hankeTunnus}}, ja lähettänyt sen käsittelyyn. Sinut on lisätty kyseiselle hakemukselle. Tarkastele hakemusta Haitattomassa: {{baseUrl}}

Löydät hakemuksesi siirtymällä etusivulta Omiin hankkeisiin ja valitsemalla sieltä oikean hankkeen. Avaa listanäkymässä hankkeen tiedot ja valitse “Näytä hankkeen hakemukset”.

{{{signatures.fi}}}


{{{senderName}}} ({{{senderEmail}}}) har gjort en ansökan om {{applicationType.sv}} ({{applicationIdentifier}}) i projektet {{hankeTunnus}} och skickat in den för behandling. Du har rollen i ansökan. Kontrollera ansökan i Haitaton: {{baseUrl}}

Du hittar din ansökan genom att gå från startsidan till Egna projekt och välja rätt projekt. Öppna projektets uppgifter i listvyn och välj ”Visa projektets ansökningar”.

{{{signatures.sv}}}


You have been added to application JS2300000

{{{senderName}}} ({{{senderEmail}}}) has created {{applicationType.en}} ({{applicationIdentifier}}) for project {{hankeTunnus}} and submitted it for processing. In the application, you have been designated as a role. View the application in the Haitaton system: {{baseUrl}}

You can find your application by selecting ‘Own projects’ on the front page and then selecting the project in question. Open the project information in the list view and select ‘Show project applications’.

{{{signatures.en}}}
