Sinut on lisätty hakemukselle / Du har lagts till i en ansökan / You have been added to an application

{{{senderName}}} ({{{senderEmail}}}) on laatimassa {{applicationType.fi}} hankkeelle "{{{hankeNimi}}}" ({{hankeTunnus}}). Sinut on lisätty hakemukselle. Tarkastele hakemusta Haitattomassa: {{baseUrl}}

Huomioithan, että nähdäksesi hakemuksen tulee sinun olla aktivoinut saamasi tunnistautumislinkki hankkeelle, jolle hakemus on tehty. Löydät tunnistautumislinkin erillisestä sähköpostiviestistä.

Löydät hakemuksesi siirtymällä etusivulta Omiin hankkeisiin ja valitsemalla sieltä oikean hankkeen. Avaa listanäkymässä hankkeen tiedot ja valitse “Näytä hankkeen hakemukset”.

{{{signatures.fi}}}


{{{senderName}}} ({{{senderEmail}}}) gör {{applicationType.sv}} till projektet "{{{hankeNimi}}}" ({{hankeTunnus}}). Du har lagts till i ansökan. Kontrollera ansökan i Haitaton: {{baseUrl}}

Du hittar din ansökan genom att gå från startsidan till Egna projekt och välja rätt projekt. Öppna projektets uppgifter i listvyn och välj ”Visa projektets ansökningar”.

{{{signatures.sv}}}


{{{senderName}}} ({{{senderEmail}}}) is preparing {{applicationType.en}} for project "{{{hankeNimi}}}" ({{hankeTunnus}}). You have been added to the application. View the application in the Haitaton system: {{baseUrl}}

You can find your application by selecting ‘Own projects’ on the front page and then selecting the project in question. Open the project information in the list view and select ‘Show project applications’.

{{{signatures.en}}}
