Hakemustasi koskeva täydennyspyyntö on peruttu / Begäran om komplettering som gäller din ansökan har återtagits / The request for supplementary information concerning your application has been cancelled

Hakemuksellesi {{hakemusNimi}} ({{hakemustunnus}}) tehty täydennyspyyntö on peruttu käsittelijän toimesta. Mahdollinen täydennyspyynnön luonnos on poistettu Haitattomasta ja hakemuksesi on muutettu takaisin käsittelyssä tilaiseksi: {{baseUrl}}/fi/hakemus/{{hakemusId}}.

{{{signatures.fi}}}


Begäran om komplettering i din ansökan {{hakemusNimi}} ({{hakemustunnus}}) har återtagits av handläggaren. Ett eventuellt utkast till begäran om komplettering har tagits bort från Haitaton och statusen för din ansökan har ändrats tillbaka till Handläggning pågår: {{baseUrl}}/sv/ansokan/{{hakemusId}}.

{{{signatures.sv}}}


The request for supplementary information for your application {{hakemusNimi}} ({{hakemustunnus}}) has been cancelled by the processor. Possible draft request for supplementary information has been removed from Haitaton and your application has been returned to preparation: {{baseUrl}}/en/application/{{hakemusId}}.

{{{signatures.en}}}
