Hakemustasi koskeva täydennyspyyntö on peruttu / Hakemustasi koskeva täydennyspyyntö on peruttu / Hakemustasi koskeva täydennyspyyntö on peruttu

Hakemuksellesi {{hakemusNimi}} ({{hakemustunnus}}) tehty täydennyspyyntö on peruttu käsittelijän toimesta. Mahdollinen täydennyspyynnön luonnos on poistettu Haitattomasta ja hakemuksesi on muutettu takaisin käsittelyssä tilaiseksi: {{baseUrl}}/fi/hakemus/{{hakemusId}}.

{{{signatures.fi}}}


Hakemuksellesi {{hakemusNimi}} ({{hakemustunnus}}) tehty täydennyspyyntö on peruttu käsittelijän toimesta. Mahdollinen täydennyspyynnön luonnos on poistettu Haitattomasta ja hakemuksesi on muutettu takaisin käsittelyssä tilaiseksi: {{baseUrl}}/sv/ansokan/{{hakemusId}}.

{{{signatures.sv}}}


Hakemuksellesi {{hakemusNimi}} ({{hakemustunnus}}) tehty täydennyspyyntö on peruttu käsittelijän toimesta. Mahdollinen täydennyspyynnön luonnos on poistettu Haitattomasta ja hakemuksesi on muutettu takaisin käsittelyssä tilaiseksi: {{baseUrl}}/en/application/{{hakemusId}}.

{{{signatures.en}}}
