Hakemuksellesi on tullut täydennyspyyntö / Din ansökan har fått en begäran om komplettering / Hakemuksellesi on tullut täydennyspyyntö

Hakemuksellesi {{hakemusNimi}} ({{hakemusTunnus}}) on tullut täydennyspyyntö. Käy vastaamassa siihen Haitattomassa: {{baseUrl}}/fi/hakemus/{{hakemusId}}.

{{{signatures.fi}}}


Din ansökan {{hakemusNimi}} ({{hakemusTunnus}}) har fått en begäran om komplettering. Svara på den i Haitaton: {{baseUrl}}/sv/ansokan/{{hakemusId}}.

{{{signatures.sv}}}


There is a request for supplementary information for your application {{hakemusNimi}} ({{hakemusTunnus}}). Please reply to it in Haitaton: {{baseUrl}}/en/application/{{hakemusId}}.

{{{signatures.en}}}
