environment:
  dev:
    fileshare: http://edit-here/fileshare-for-dev
  test:
    fileshare: http://edit-here/fileshare-for-test

polys_dir: tormays_polys

files: |
  tormays_buses_polys.gpkg
  tormays_central_business_area_polys.gpkg
  tormays_critical_area_polys.gpkg
  tormays_cycleways_basic_polys.gpkg
  tormays_cycleways_main_polys.gpkg
  tormays_cycleways_priority_polys.gpkg
  tormays_street_classes_polys.gpkg
  tormays_tram_infra_polys.gpkg
  tormays_tram_lines_polys.gpkg
  tormays_volumes15_polys.gpkg
  tormays_volumes30_polys.gpkg
  tormays_ylre_classes_polys.gpkg
  tormays_ylre_parts_polys.gpkg
